@charset "UTF-8";

.input-group.color .input-group-btn i {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 6px;
}

/* change z-index when opened in modal */

/***
Bootstrap Datepaginator
***/
.datepaginator a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
}

/***
Bootstrap Datepicker
***/

.datepicker .active {
    background: #4b8df8 none !important;
    filter: none !important;
}

.datepicker .active:hover {
    background: #2678FC none !important;
    filter: none !important;
}

.datepicker .input-daterange input {
    text-align: left;
}

/* change z-index when opened in modal */

.datepicker table td {
    color: #000;
    font-weight: 300 !important;
    font-family: 'Open Sans' !important;
}

.datepicker table th {
    color: #333;
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}

.datepicker .fa-angle-right:before {
    content: "" /*rtl:""*/;
}

/***
Bootstrap Daterangepicker
***/

.daterangepicker td {
    text-shadow: none;
}

.daterangepicker td.active {
    background: #4b8df8 none;
    filter: none;
}

.daterangepicker th {
    font-weight: 400;
    font-size: 14px;
}

.daterangepicker .ranges input[type="text"] {
    width: 70px !important;
    font-size: 11px;
    vertical-align: middle;
}

.daterangepicker .ranges label {
    font-weight: 300;
    display: block;
}

.daterangepicker .ranges ul > li.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.daterangepicker .ranges .btn {
    margin-top: 10px;
}

.daterangepicker .ranges li {
    color: #333;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #4b8df8 !important;
    border: 1px solid #4b8df8 !important;
    color: #fff;
}

.daterangepicker .range_inputs input {
    margin-bottom: 0 !important;
}

.daterangepicker .fa-angle-right:before {
    content: "" /*rtl:""*/;
}

/***
Fullcalendar
***/
/* External events */
.external-event {
    display: inline-block;
    cursor: move;
    margin-bottom: 5px;
    margin-left: 5px;
}

.fc-scroller {
    overflow-y: auto;
    overflow-x: hidden;
}

.fc-month-view .fc-scroller {
    height: auto !important;
}

.portlet .event-form-title {
    font-size: 16px;
    margin-top: 4px;
    font-weight: 400;
    margin-bottom: 10px;
}

.portlet.calendar .fc-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 35px;
    padding: 5px 8px 8px 8px;
    margin-left: 2px;
    border: 0 none #ddd;
    border-right-style: solid;
    border-left-style: solid;
    background: transparent;
    color: #fff;
    top: -48px;
    outline: none !important;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet.calendar .fc-toolbar {
    margin-bottom: 0;
}

.portlet.calendar .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px;
}

.portlet.calendar .fc-header {
    margin-bottom: -21px;
}

.portlet.calendar .fc-button-prev {
    padding-right: 10px;
    padding-left: 8px;
}

.portlet.calendar .fc-button-next {
    padding-right: 8px;
    padding-left: 10px;
}

.portlet.calendar .fc-button .fc-icon {
    height: 20px;
    top: -5px;
}

.portlet.calendar .fc-button.fc-state-active, .portlet.calendar .fc-button.fc-state-hover {
    color: #666;
    background-color: #fff;
}

.portlet.calendar .fc-button.fc-state-disabled {
    color: #ddd;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104";
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: "";
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105";
}

.portlet.calendar .fc-text-arrow {
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline;
}

.portlet.calendar .fc-event {
    border: 0;
    background-color: #69a4e0;
    color: #fff;
}

.portlet.calendar .fc-event .fc-content {
    border: 0;
    padding: 5px 7px;
}

.portlet.calendar .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px;
}

.portlet.calendar .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.portlet.calendar .fc-header-title h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111;
}

.portlet.calendar .fc-widget-header {
    filter: none;
    background: #eee none;
    text-transform: uppercase;
    font-weight: 300;
}

.portlet.calendar.light .fc-button {
    top: -60px;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 35px;
}

.portlet.calendar.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block;
}

.portlet.calendar.light .fc-button.fc-state-active, .portlet.calendar.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3;
}

.portlet.calendar.light .fc-button.fc-state-disabled {
    color: #aaa;
}

.portlet.calendar .mobile .fc-button {
    padding: 0 6px 20px 6px;
    margin-left: 2px;
    border: 0;
    background: #ddd none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    text-shadow: none;
    text-align: center;
}

.portlet.calendar .mobile .fc-button.fc-state-hover, .portlet.calendar .mobile .fc-button.fc-state-active {
    background-color: #eee;
}

.portlet.calendar .mobile .fc-button.fc-state-disabled {
    color: #bbb;
}

.portlet.calendar .mobile .fc-button-prev {
    margin-right: 5px;
    margin-top: -2px;
}

.portlet.calendar .mobile .fc-button-next {
    margin-right: -0px;
    margin-top: -2px;
}

.portlet.calendar .mobile .fc-header-space {
    margin: 0;
    padding: 0;
    width: 0;
}

.portlet.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
}

.portlet.calendar .mobile .fc-header-left .fc-button {
    top: -2px;
}

.portlet.calendar .mobile .fc-header-right {
    position: relative;
    right: 0;
}

.portlet.calendar .mobile .fc-header-right .fc-button {
    top: 35px;
}

.portlet.calendar .mobile .fc-content {
    margin-top: 53px;
}