.login {
    background-color: #5c97bd; }
.login a {
    color: #edf4f8 !important; }

.login .logo {
    margin: 100px auto 0;
    padding: 15px;
    text-align: center; }

.login .content {
    width: 400px;
    margin: 40px auto 40px auto; }

.login .form-title {
    margin-bottom: 20px; }

.login .form-title {
    color: #edf4f8;
    font-size: 19px;
    font-weight: 400 !important; }

.login .form-subtitle {
    color: #c9dce9;
    font-size: 17px;
    font-weight: 300 !important;
    padding-left: 10px; }

.login .content h4 {
    color: #555; }

.login .content .hint {
    color: #b7d1e2;
    padding: 0;
    font-size: 14px;
    margin: 15px 0 7px 0; }

.login .content .login-form,
.login .content .forget-form {
    padding: 0;
    margin: 0; }

.login .content .form-control {
    background-color: #6ba3c8;
    border: 1px solid #6ba3c8;
    height: 43px;
    color: #d9ecf9; }
.login .content .form-control:focus, .login .content .form-control:active {
    border: 1px solid #83b8db; }
.login .content .form-control::-moz-placeholder {
    color: #d9ecf9;
    opacity: 1; }
.login .content .form-control:-ms-input-placeholder {
    color: #d9ecf9; }
.login .content .form-control::-webkit-input-placeholder {
    color: #d9ecf9; }

.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px; }

.login .content .forget-form {
    display: none; }

.login .content .register-form {
    display: none; }

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px; }

.login .content .form-actions {
    clear: both;
    border: 0;
    padding: 0 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px; }

.form-actions .forget-password-block {
    padding-top: 7px; }

.login-options h4 {
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
    color: #b7d1e2 !important; }

.login .forget-password {
    font-size: 14px; }

.login-options .social-icons li a {
    border-radius: 15px 15px 15px 15px !important;
    -moz-border-radius: 15px 15px 15px 15px !important;
    -webkit-border-radius: 15px 15px 15px 15px !important; }

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px; }

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.login .content .form-actions .btn {
    margin-top: 1px; }

.login .btn {
    background-color: #5995bb;
    border: 1px solid #72a9cc;
    color: #8fc4e5;
    font-weight: 600;
    padding: 10px 25px !important; }
.login .btn:hover {
    border: 1px solid #90bbd7;
    background-color: #5995bb;
    color: #8fc4e5; }

.login .btn-default {
    background-color: #5995bb;
    border: 1px solid #72a9cc;
    color: #8fc4e5;
    font-weight: 600;
    padding: 10px 25px !important; }
.login .btn-default:hover {
    border: 1px solid #90bbd7;
    background-color: #5995bb;
    color: #8fc4e5; }

.login .content .forget-password {
    color: #d7eaf7;
    font-size: 10px; }

.login .content .rememberme {
    margin-top: 8px; }

.login .content .mt-checkbox {
    color: #c9dce9 !important; }

.login .content .mt-checkbox > span:after {
    border-color: #c9dce9 !important; }

.login .content .create-account {
    text-align: center;
    margin-top: 20px; }

.login .content .create-account p a {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff; }

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px; }

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 10px auto 30px 0;
    padding: 10px;
    color: #c9dce9;
    font-size: 13px; }

@media (max-width: 1400px) {
    .login .logo {
        margin-top: 100px; } }

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 30px;
        padding: 0; }
    .login .content {
        width: 245px; }
    .login .content h3 {
        font-size: 22px; }
}


@charset "UTF-8";

.input-group.color .input-group-btn i {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 6px;
}

/* change z-index when opened in modal */

/***
Bootstrap Datepaginator
***/
.datepaginator a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
}

/***
Bootstrap Datepicker
***/

.datepicker .active {
    background: #4b8df8 none !important;
    filter: none !important;
}

.datepicker .active:hover {
    background: #2678FC none !important;
    filter: none !important;
}

.datepicker .input-daterange input {
    text-align: left;
}

/* change z-index when opened in modal */

.datepicker table td {
    color: #000;
    font-weight: 300 !important;
    font-family: 'Open Sans' !important;
}

.datepicker table th {
    color: #333;
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}

.datepicker .fa-angle-right:before {
    content: "" /*rtl:""*/;
}

/***
Bootstrap Daterangepicker
***/

.daterangepicker td {
    text-shadow: none;
}

.daterangepicker td.active {
    background: #4b8df8 none;
    filter: none;
}

.daterangepicker th {
    font-weight: 400;
    font-size: 14px;
}

.daterangepicker .ranges input[type="text"] {
    width: 70px !important;
    font-size: 11px;
    vertical-align: middle;
}

.daterangepicker .ranges label {
    font-weight: 300;
    display: block;
}

.daterangepicker .ranges ul > li.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.daterangepicker .ranges .btn {
    margin-top: 10px;
}

.daterangepicker .ranges li {
    color: #333;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #4b8df8 !important;
    border: 1px solid #4b8df8 !important;
    color: #fff;
}

.daterangepicker .range_inputs input {
    margin-bottom: 0 !important;
}

.daterangepicker .fa-angle-right:before {
    content: "" /*rtl:""*/;
}

/***
Fullcalendar
***/
/* External events */
.external-event {
    display: inline-block;
    cursor: move;
    margin-bottom: 5px;
    margin-left: 5px;
}

.fc-scroller {
    overflow-y: auto;
    overflow-x: hidden;
}

.fc-month-view .fc-scroller {
    height: auto !important;
}

.portlet .event-form-title {
    font-size: 16px;
    margin-top: 4px;
    font-weight: 400;
    margin-bottom: 10px;
}

.portlet.calendar .fc-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 35px;
    padding: 5px 8px 8px 8px;
    margin-left: 2px;
    border: 0 none #ddd;
    border-right-style: solid;
    border-left-style: solid;
    background: transparent;
    color: #fff;
    top: -48px;
    outline: none !important;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet.calendar .fc-toolbar {
    margin-bottom: 0;
}

.portlet.calendar .fc-toolbar h2 {
    margin-top: 3px;
    font-size: 17px;
}

.portlet.calendar .fc-header {
    margin-bottom: -21px;
}

.portlet.calendar .fc-button-prev {
    padding-right: 10px;
    padding-left: 8px;
}

.portlet.calendar .fc-button-next {
    padding-right: 8px;
    padding-left: 10px;
}

.portlet.calendar .fc-button .fc-icon {
    height: 20px;
    top: -5px;
}

.portlet.calendar .fc-button.fc-state-active, .portlet.calendar .fc-button.fc-state-hover {
    color: #666;
    background-color: #fff;
}

.portlet.calendar .fc-button.fc-state-disabled {
    color: #ddd;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow:after {
    content: "";
    margin: 0;
}

.portlet.calendar .fc-button .fc-icon-left-single-arrow:before {
    content: "\f104";
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow:after {
    margin: 0;
    content: "";
}

.portlet.calendar .fc-button .fc-icon-right-single-arrow:before {
    content: "\f105";
}

.portlet.calendar .fc-text-arrow {
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline;
}

.portlet.calendar .fc-event {
    border: 0;
    background-color: #69a4e0;
    color: #fff;
}

.portlet.calendar .fc-event .fc-content {
    border: 0;
    padding: 5px 7px;
}

.portlet.calendar .fc-event .fc-time {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px;
}

.portlet.calendar .fc-event .fc-title {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.portlet.calendar .fc-header-title h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #111;
}

.portlet.calendar .fc-widget-header {
    filter: none;
    background: #eee none;
    text-transform: uppercase;
    font-weight: 300;
}

.portlet.calendar.light .fc-button {
    top: -60px;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 35px;
}

.portlet.calendar.light .fc-button .fc-text-arrow {
    margin-top: -6px;
    display: inline-block;
}

.portlet.calendar.light .fc-button.fc-state-active, .portlet.calendar.light .fc-button.fc-state-hover {
    color: #333;
    border-bottom: 2px solid #36c6d3;
}

.portlet.calendar.light .fc-button.fc-state-disabled {
    color: #aaa;
}

.portlet.calendar .mobile .fc-button {
    padding: 0 6px 20px 6px;
    margin-left: 2px;
    border: 0;
    background: #ddd none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    text-shadow: none;
    text-align: center;
}

.portlet.calendar .mobile .fc-button.fc-state-hover, .portlet.calendar .mobile .fc-button.fc-state-active {
    background-color: #eee;
}

.portlet.calendar .mobile .fc-button.fc-state-disabled {
    color: #bbb;
}

.portlet.calendar .mobile .fc-button-prev {
    margin-right: 5px;
    margin-top: -2px;
}

.portlet.calendar .mobile .fc-button-next {
    margin-right: -0px;
    margin-top: -2px;
}

.portlet.calendar .mobile .fc-header-space {
    margin: 0;
    padding: 0;
    width: 0;
}

.portlet.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
}

.portlet.calendar .mobile .fc-header-left .fc-button {
    top: -2px;
}

.portlet.calendar .mobile .fc-header-right {
    position: relative;
    right: 0;
}

.portlet.calendar .mobile .fc-header-right .fc-button {
    top: 35px;
}

.portlet.calendar .mobile .fc-content {
    margin-top: 53px;
}